<!DOCTYPE html>
<html lang="es">

<%- include('../views/components/heade.ejs') %>

    <body>
        <%- include('../views/components/menu.ejs') %>

            <% if (user){ %>
                <div class="container p-3">
                    <div class="card border-warning">
                        <div class="card-header">Editar Registro</div>
                        <div class="card-body">
                            <form action="/update" method="POST">
                                <input id="id" name="id" value="<%= user.id %>" hidden>

                                <div class="col-md-12">
                                    <label for="validationCustom01" class="form-label my-2">Usuario</label>
                                    <input class="form-control" id="user" name="user" value="<%= user.usuario %>" />
                                </div>

                                <div class="col-md-12">
                                    <label for="validationCustom01" class="form-label my-2">Rol</label>
                                    <select id="rol" name="rol" class="form-select form-select-sm"
                                        aria-label="Small select">
                                        <option selected="">Selecciona una opcion</option>
                                        <option <%=user.rol=='admin' ? "selected" : '' %> value="admin">
                                            Admin
                                        </option>
                                        <option <%=user.rol=='diseñador' ? "selected" : '' %> value="diseñador">
                                            Diseñador
                                        </option>
                                        <option <%=user.rol=='programador' ? "selected" : '' %> value="programador">
                                            Programador
                                        </option>
                                    </select>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <button class="btn btn-success" type="submit">Enviar</button>
                                    <a href="/" class="btn btn-danger">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>

                    <%- include('../views/components/scripts.ejs') %>
    </body>

</html>